nav {
  background-color: #333;
  height: 50px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

li {
  height: 100%;
}

.link {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  font-size: 16px;
}

.link:hover {
  background-color: #555;
}
